.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App-table {
  width: 70%;
  margin: 10px auto;
  border-collapse: collapse;
}
.App-table th {
  border: 1px solid black;
}
.App-table td {
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
