.fullScreen {
  padding: calc(1em + (2 - 0.5) * ((100vw - 300px) / (1600 - 300)));
}

.fullScreenFont {
  /* color: rgb(141, 2, 31); */
  color: white;
  font-size: calc(32px + (108 - 32) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.2em + (1.4 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: calc(0.3em + (0.7 - 0.2) * ((100vw - 300px) / (1600 - 300)));
}

.bigBox {
  /* border: 4px solid rgb(141, 2, 31); */
  border: 4px solid white;
  padding: calc(3em + (4 - 2) * ((100vw - 300px) / (1600 - 300)));
}

.blueButton {
  transition: all 0.3s ease-out;
  background-color: #32c6e6;
  color: white;
}

.blueButton:hover {
  color: #32c6e6;
  border-color: #32c6e6;
  background-color: #32c6e600;
}
